*{
    margin:0;
    padding:0;
}
.main_heading{
    background-color:greenyellow;
    color:red;
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.navbar{
    background-color:black;
    height:50px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.col{
    font-size:25px;
    color:aliceblue;
    padding-left:20px;
    padding-right:20px;
    display:inline-block;
    line-height:50px;
}
.col:hover{
    transition:.2s;
    font-size:30px;
    color:red;
    background-color:white;
    border-radius: 10px;
    border-bottom:5px solid rgb(255, 0, 0);
    
    
}
h1{
    color:red;
}