html {
    background-color: black;

  }
* {
  margin: 0%;
  padding: 0%;
  transition: all;
  cursor:auto;
}
.c-bg{
  background-color:rgba(0, 0, 0, 0.7);
}
.main-heading {
  padding: 0.5rem;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-list {
  text-decoration: none;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
}
.flash-search :hover {
  transition: .01s;
  color: rgb(255, 255, 255);
  border:5px dashed red;
  border-top: transparent;
  border-bottom: transparent;
  border-radius:30px;
}
.flash-footer:hover {
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  font-family: "Do Hyeon", sans-serif;
  color: rgb(255, 0, 0);
  border:4px dashed red;
  background-color: rgb(255, 255, 255);
  height:40px;
  border-radius: 5rem;
}
.background-for-all {
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)),
    url(IMAGES/SAMPLE_IMG/b8.png);
  background-size:contain;
  background-repeat:repeat;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}

.main-div {
  height: 100%;
}
.child-div {
  height: 100%;
}
@media (max-width: 576px) {
  .background-for-all {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)),
    url(IMAGES/SAMPLE_IMG/b8.png);
  background-size:auto;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
    
  }
  .small_grid{    
    flex-direction:column;
  }

  html {
    font-size: 100%;
    background-color: black;

  }
}
@media (max-width: 499px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }

  html {
    font-size: 80%;
    background-color: black;
  }
}
@media (max-width: 430px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 70%;
    background-color: black;
  }
}
@media (max-width: 364px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 60%;
    background-color: black;
  }
}
@media (max-width: 330px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 50%;
    background-color: black;
  }
}
@media (max-width: 265px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 40%;
    height: 100vh;
    background-color: black;
  }
}
@media (max-width: 213px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 30%;
    height: 100vh;
    background-color: black;
  }
}
@media (max-width: 180px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 20%;
    height: 100vh;
    background-color: black;
  }
}
@media (max-width: 112px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 10%;
    height: 100vh;
    background-color: black;
  }
}
@media (max-width: 60px) {
  .background-for-all {
    background-image: url(IMAGES/SAMPLE_IMG/b8.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  .small_grid{    
    flex-direction:column;
  }
  html {
    font-size: 6%;
    height: 100vh;
    background-color: black;
  }
}
